/* @import url('https://rsms.me/inter/inter.css'); */
@font-face {
  font-family: 'ArialRounded';
  src: url('../fonts/arial_rounded_bold.ttf') format('truetype');
}

:root {
}

html { 
  font-family: /*"Inter",*/ -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background-color: black;

  color: white;

}

.main {
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.doodle {
}

.email {
  position: fixed;
  bottom: 20px;

  font-size: 34pt;
  font-family: 'ArialRounded';
  text-shadow:
   -5px -5px 0 #000,  
    5px -5px 0 #000,
    -5px 5px 0 #000,
     5px 5px 0 #000;
}
