{{ define "main" }}
  <h2>{{ .Params.icon }} {{ .Title }}</h2>
  {{ partial "lastmod.html" . }}

  <section>{{- .Content -}}</section>

  <ul class="posts-list">
    {{ range .Sections }}
      <li class="post-listing">
        {{.Params.icon}}
        <a href="{{.RelPermalink}}">{{.Title}}</a>
        {{ if .IsSection }}
          - {{ len .Pages }} notes
        {{ end }}
      </li>
    {{ end }}

    {{ range .RegularPages }}
      {{ partial "page-listing" . }}
    {{ end }}

  </ul>
{{ end }}
