.blockWrapper {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.block {
  scroll-snap-align: start;
  min-width: 95vw;
  min-height: 90vh;
}

.blockContent {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 95vh;
}

.blockTitle {
  font-family: var(--font-normal);
  font-weight: bold;
  font-size: var(--xs-font);
}
