@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'ArialRounded';
  src: url('../assets/fonts/arial_rounded_bold.ttf') format('truetype');
}

:root {
  --fg-col: white;
  --bg-col: #293bff;

  --font-normal: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
  --font-title: 'ArialRounded', futura, 'arial black', sans-serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --xs-font: 12px;
  --sm-font: 16px;
  --md-font: 20px;
  --lg-font: 24px;
  --xl-font: 32px;
  --xxl-font: 40px;

  --spacer-0: 8px;
  --spacer-1: 16px;
  --spacer-2: 24px;
  --spacer-3: 32px;
  --spacer-4: 40px;
  --spacer-5: 48px;
}

body {
  background-color: var(--bg-col);
  color: var(--fg-col);
  font-family: var(--font-normal);
  font-size: var(--sm-font);
  line-height: 1.5;
}

a {
  font-family: var(--font-title);
  font-weight: bold;
  color: var(--fg-col);
  text-decoration: none;
  background-image: url('../assets/images/wave.svg');
  background-repeat: repeat;
  background-position: bottom;
  background-size: 20px;
  background-repeat: repeat-x;
  padding-bottom: var(--spacer-0);
}

a:hover, a:active {
  background-image: url('../assets/images/wave--anim.svg');
}

hr {
  background-color: var(--fg-col);
  height: 1px;
  border: none;
}

a.heading__anchor {
  text-decoration: none;
  background-image: none;
}
