h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: bold;
  margin: 0;
}

.header {
  border-bottom: 1px dashed var(--fg-col);
  padding-left: var(--spacer-1);
  padding-bottom: var(--spacer-0);
}

.title {
  font-size: var(--lg-font);
}

.date {
  font-family: var(--font-normal);
  font-weight: normal;
  font-size: var(--xs-font);
}


h1 { font-size: var(--md-font); }
h2 { font-size: var(--sm-font); }
