{{ define "main" }}
<div id="content">
  <article>
    <h1>{{ .Title }}</h1>
    <aside>
      {{ if .Date }}
        <time>published {{ .Date.Format "Monday, Jan 2, 2006" }}</time><br/>
      {{ end }} 
      {{ partial "lastmod.html" . }}
    </aside>
    {{.Content}}
  </article>

  <nav class="sidebar">
    {{ if .Params.tags }}
      <h3>Tags</h3>
      <ul>
        {{range (.GetTerms "tags")}}
        <li> {{ .Params.icon }} <a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
        {{end}}
      </ul>
    {{ end }}

    {{ if .Params.toc }}
      <h3>Sections</h3>
      {{.TableOfContents}}
    {{ end }}

    <hr />

    <h3>Adjacent</h3>
    <div>
      {{with .PrevInSection}}<a href="{{.RelPermalink}}">← {{.Title}}</a>{{end}}
      <br /> - - - <br />
      {{with .NextInSection}}<a href="{{.RelPermalink}}">{{.Title}} →</a>{{end}}
    </div>

    {{$related := .Site.RegularPages.Related . | first 5}}
    {{with $related}}
    <div>
      <h3>Related</h3>
      <ul>
        {{range .}}
        <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>
    {{end}}
  </nav>
</div>
{{end}}
