
.email-button {
  background-color: var(--color1);
  color: var(--color2);
  
  font-size: 1.7em;
  font-family: 'ArialRounded';
  text-decoration: none;

  display: block;
  height: 1.3em; 
  padding: 0.3em;

  border: 1px solid var(--color2);
  border-radius: 2px;
  box-shadow: 5px 5px #fff;
  /* offset to center */
  left: 5px;
}
.email-button:active {
  box-shadow: none;
  transform: translateY(5px) translateX(5px);
}
