/* styles related to the presentation of markup */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: bold;
  margin: var(--spacer-2) 0 0 0;
}

h1 { font-size: var(--xl-font); }
h2 { font-size: var(--lg-font); }
h3 { font-size: var(--md-font); }
h4 { font-size: var(--sm-font); }
h5 { font-size: var(--xs-font); }
h6 { font-size: var(--xs-font); }

p {
  font-size: var(--sm-font);
  margin: var(--spacer-1) 0 var(--spacer-1) 0;
}

article {}
section {}
blockquote{}
div {}
ul {
  margin: 0;
}
li {margin: var(--spacer-0) 0 0 0}
li p { margin: 0 }
table {}
tr {}
td {}
th {}
pre {}
code {}

aside {}

img {}
